* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
}

/* NAV */
nav {
  position: fixed;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

/* HERO */
#inicio {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightblue;
}

.hero-box {
  border: 2px solid black;
  padding: 40px;
}

/* GRID */
.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.poke-card img {
  width: 80px;
  cursor: pointer;
}

/* MODAL */
.modal-overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
}

.modal-overlay.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: white;
  padding: 20px;
}